
server:
  servlet:
    context-path: /order-service

spring:
  zipkin:
    base-url: ${SPRING_ZIPKIN_BASE_URL:http://localhost:9411/}
  config:
    import: ${SPRING_CONFIG_IMPORT:optional:configserver:http://localhost:9296}
  application:
    name: ORDER-SERVICE
  profiles:
    active:
      - dev

resilience4j:
  circuitbreaker:
    instances:
      orderService:
        register-health-indicator: true
        event-consumer-buffer-size: 10
        automatic-transition-from-open-to-half-open-enabled: true
        failure-rate-threshold: 50
        minimum-number-of-calls: 5
        permitted-number-of-calls-in-half-open-state: 3
        sliding-window-size: 10
        wait-duration-in-open-state: 5s
        sliding-window-type: COUNT_BASED
  ratelimiter:
    instances:
      orderServiceRateLimiter:
        limit-for-period: 2
        limit-refresh-period: 120s
        timeout-duration: 30s
        register-health-indicator: true

management:
  endpoints:
    web:
      exposure:
        include: '*'
      base-path: /actuator
  health:
    circuitbreakers:
      enabled: true
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true









